.ipynb_checkpoints*/.ipynb_checkpoints/*
Data/.ipynb_checkpoints/data_preparation-checkpoint.ipynb
Data/.ipynb_checkpoints/
 Notebooks/.ipynb_checkpoints/data_preparation-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/data_preparation-checkpoint.ipynb
.ipynb_checkpoints/borrador_visualizacion-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/borrador_visualizacion-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/Modelo_1-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/Modelo_1-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/Modelo_1-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/Modelo_1-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/Modelo_1-checkpoint.ipynb
